.menuCard-container {
    width: 80%;
    background-color: var(--secondary-color);
    border-radius: 1em;
    box-shadow: var(--box-shadow);
}

/* Diseño responsive */
@media screen and (max-width: 1000px) {
    .menuCard-container {
        width: 100%;
        margin: 1em 0;
    }
}
