.menuCard-container {
    width: 80%;
    background-color: var(--secondary-color);
    border-radius: 1em;
    box-shadow: var(--box-shadow);
}

/* Diseño responsive */
@media screen and (max-width: 767px) {
    .menuCard-container {
        width: 100%;
        margin: 1em 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para pantallas medianas (tabletas) */
}
