.careerData-container {
    margin: 1em;
}

.careerData-container h2{
    filter: var(--drop-shadow);
}

.careerData-form {
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    padding: 1em 4em 1em 4em ;
    margin-bottom: 1em;
    overflow-y: auto;
    min-height: 40vh;
    max-height: 40vh;
    box-shadow: var(--box-shadow);
}

.careerData-form input {
    padding: .5em;
    border-radius: .5em;
}

.careerData-form select {
    padding: .5em;
    border-radius: .5em;
}

.careerData-form label {
    font-size: 1.2em;
}