.careerData-container {
    margin: 1em;
}

.careerData-container h2{
    filter: var(--drop-shadow);
}

.careerData-form {
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    padding: 1em 4em 1em 4em ;
    margin-bottom: 1em;
    overflow-y: auto;
    min-height: 40vh;
    max-height: 40vh;
    box-shadow: var(--box-shadow);
}

.careerData-form input {
    padding: .5em;
    border-radius: .5em;
}

.careerData-form select {
    padding: .5em;
    border-radius: .5em;
}

.careerData-form label {
    font-size: 1.2em;
}

.careerData-checkbox {
    margin-top: 1em;
    padding: .5em;
    border: 1px solid;
    border-radius: 5px;
    background-color: var(--secondary-color);
}

input[type="checkbox"] {
    transform: scale(1.3);
}

/* Diseño responsive */
@media screen and (max-width: 1000px) {
    .careerData-container h2{
        font-size: 1.4em;
    }
    .careerData-form {
        overflow-y: hidden;
        min-height: none;
        max-height: none;
        padding: .5em 1em;
    }
    .careerData-form input {
        font-size: .6em;
    }
    
    .careerData-form select {
        font-size: .6em;
    }
    
    .careerData-form label {
        font-size: .8em;
    }
    .careerData-checkbox {
        font-size: 1em;
    }
    .careerData-container button {
        font-size: .8em;
        width: 30%;
    }
}

