.addItem-container {
    margin: 1em;
}

.addItem-container h2 {
    font-size: 1.3em;
    margin: 0;
    filter: var(--drop-shadow);
}

.addItem-form {
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    padding: 1em 4em 1em 4em ;
    margin-bottom: 1em;
    overflow-y: auto;
    min-height: 38vh;
    max-height: 38vh;
    box-shadow: var(--box-shadow);
}

.addItem-form input {
    padding: .5em;
    border-radius: .5em;
}

.addItem-form select {
    padding: .5em;
    border-radius: .5em;
}

.addItem-form label {
    font-size: 1.2em;
    text-align: left;
}

.itemForm-error-message {
    font-size: .7em;
    background-color: lightgrey;
    border-radius: 5px;
    color: red;
}