.profile-name-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    box-shadow: var(--box-shadow);
}

.profile-name-card img {
    width: 3em;
    height: 3em;
    padding-right: 1em;
}

.profile-data-card {
    display: flex;
    justify-content: space-around;
}

.profile-data-box {
    padding: 2em;
    margin: 1em;
    width: 30%;
    border-radius: 1em;
    box-shadow: var(--box-shadow);
}

.profile-data-box h2 {
    border-bottom: 1px solid;
    margin: 0;
}