.userCard-container {
    height: 65%;
}

.userCard-username {
    filter: var(--drop-shadow);
}

.userCard-notifications {
    background-color: rgb(250, 151, 151);
    border-radius: 5px;
    padding: .2em;
}

.userCard-notifications-link {
    display: flex;
}

.userCard-notifications:hover {
  transform: scale(1.05);
  transform-origin: center;
  transition: .3s;
}

.userCard-notifications a {
    text-decoration: none;
    color: #201c1c;
}

.userCard-notifications-icon {
    font-size: 1.1em;
    padding: 0 .5em 0 .3em;
    border-right: 1px solid lightcoral;
}

.userCard-notifications-description {
    display: flex;
    flex-direction: column;
    padding-left: .5em;
}

.userCard-notifications p {
    margin: 0;
    font-size: .8em;
    text-align: center;
}

.profile-name-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    padding: 0 1em;
    border-radius: 1em;
    box-shadow: var(--box-shadow);
}

.profile-name-card div {
    display: flex;
    align-items: center;
    filter: var(--drop-shadow);
}

.profile-title-card {
    font-weight: bold;
    text-align: center;
    padding: 1em;   
    margin: 1em;
    border-radius: 1em;
    box-shadow: var(--box-shadow);
}

.profile-title-card p {
    font-size: 2em;
    padding: 0;
    margin: 0;
    filter: var(--drop-shadow);
}

.profile-name-card img {
    width: 3em;
    height: 3em;
    padding-right: 1em;
}

.profile-data-card {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.profile-data-box {
    padding: 1em 2em 0;
    margin: 0 1em;
    width: 30%;
    height: 100%;
    border-radius: 1em;
    box-shadow: var(--box-shadow);
}

.profile-data-box div, .profile-company-card div {
    display: flex;
    justify-content: space-between;
    padding: .2em 0;
    border-bottom: 1px solid rgb(196, 196, 196);
}

.profile-data-box h2 {
    font-size: 1.3em;
    border-bottom: 1px solid;
    margin: 0;
    margin-bottom: .5em;
    filter: var(--drop-shadow);
}

.profile-data-box span:first-child, .profile-company-card span:first-child {
    font-size: 1em;
    filter: var(--drop-shadow);
}

.profile-data-box span:last-child, .profile-company-card span:last-child {
    font-size: .7em;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    filter: var(--drop-shadow);
    
}


.profile-message-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    box-shadow: var(--box-shadow);
}

.profile-company-card {
    display: flex;
    flex-direction: column;
    height: 90%;
    margin: 1em;
    padding: 1em 2em;
    border-radius: 1em;
    box-shadow: var(--box-shadow);
}

.profile-company-card h2 {
    font-size: 1.3em;
    margin: 0;
    border-bottom: 1px solid;
    padding-bottom: .3em;
    filter: var(--drop-shadow);
}

.profile-message-card a {
    text-decoration: none;
}

/* Diseño responsive */
@media screen and (max-width: 1000px) {
    .userCard-container {
        width: 100%;
        height: 100%;
    }
    .profile-name-card {
        width: 80%;
        margin-bottom: .5em;
    }
    .profile-name-card h2 {
        font-size: .9em;
    }
    .profile-name-card img {
        width: 1.5em;
        height: 1.5em;
    }
    .profile-name-card button {
        font-size: .6em;
    }
    .profile-data-card {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .profile-data-box {
        width: 70%;
        margin: .5em 0;
    }
    .profile-data-box h2 {
        font-size: .9em;
    }
    .profile-data-box span:first-child, .profile-company-card span:first-child {
        font-size: .8em;
    }
    .profile-data-box span:last-child, .profile-company-card span:last-child {
        font-size: .6em;
    }
    .profile-company-card {
        height: auto;
    }
    .profile-message-card {
        justify-content: flex-start;
        height: auto;
    }
    .profile-title-card p {
        font-size: .9em;
    }
}