.companyData-container {
    margin: 1em;
}

.companyData-container h2 {
    filter: var(--drop-shadow);
}

.companyData-form {
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    padding: 1em 4em ;
    margin-bottom: 1em;
    overflow-y: auto;
    height: 36vh;
    box-shadow: var(--box-shadow);
}

.companyData-form span {
    font-size: .7em;
    font-style: italic;
    color: gray;
    background-color: lightgray;
    border-radius: 5px;
}

.companyData-form input {
    padding: .5em;
    border-radius: .5em;
}

.companyData-form select {
    padding: .5em;
    border-radius: .5em;
}

.companyData-form label {
    font-size: 1.2em;
}

/* Diseño responsive */
@media screen and (max-width: 1000px) {
    .companyData-container h2 {
        font-size: 1.4em;
        margin: .5em 0;
    }
    .companyData-form {
        height: 100%;
        max-height: none;
        overflow-y: hidden;
        height: auto;
        padding: 1em;
        width: 90%;
    }
    .companyData-form input {
        font-size: .6em;
    }
    .companyData-form label {
        font-size: .8em;
    }
    .companyData-requerid-message {
        display: flex;
        justify-content: space-between;
    }
    .companyData-requerid-message button {
        display: flex;
        justify-content: space-between;
        font-size: .8em;
        width: 30%;
        text-align: center;
    }.requerid-camps-message {
        font-size: .7em;
    }
    .company-forms {
        height: 100%;
    }
    
}
