.contactData-container {
    margin: 1em;
}

.contactData-container h2 {
    filter: var(--drop-shadow);
}

.contactData-form {
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    padding: 1em 4em ;
    margin-bottom: 1em;
    overflow-y: auto;
    max-height: 36vh;
    box-shadow: var(--box-shadow);
}



.contactData-form input {
    padding: .5em;
    border-radius: .5em;
}

.contactData-form select {
    padding: .5em;
    border-radius: .5em;
}

.contactData-form label {
    font-size: 1.2em;
}
.contactData-container button {
    font-size: .8em;
    width: 30%;
}

/* Diseño responsive */
@media screen and (max-width: 1000px) {
    .contactData-container h2 {
        font-size: 1.4em;
        margin: .5em 0;
    }
    .contactData-form {
        height: 100%;
        max-height: none;
        overflow-y: hidden;
        height: auto;
        padding: 1em 0;
        width: 90%;
        padding: 1em;
    }
    .contactData-form input {
        font-size: .6em;
    }
    .contactData-form label {
        font-size: .8em;
    }
}
