.fullForm-container {
    display: flex;
    flex-direction: column;
    padding: 2em;
    border-radius: 1em;
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow);
}

.title-form {
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    margin: 0;
    filter: var(--drop-shadow);
}
.fullForm-box {
    display: flex;
    justify-content: center;
}

.fullForm-box div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: .5em;
}

.fullForm-box input {
    margin: .5em 0;
    padding: .5em;
    border-radius: 0.5em;
    border: none;
    box-shadow: var(--box-shadow);
}   

.fullForm-box label {
    filter: var(--drop-shadow);
}

.fullForm-container button {
    margin-top: 2em;
}

/* Colores para la logica del handler del password */

.correct-input {
    display: flex;
    color: rgb(10, 245, 10);
    padding: 0;
}

.bad-input {
    display: flex;
}

.correct-input p, .bad-input p {
    padding: 0;
    margin: 0;
}

/* Diseño responsive */
@media screen and (max-width: 1000px) {
    .fullForm-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 2.5em;
    }
    .fullForm-container button {
        width: 60%;
        margin: 0;
        margin-bottom: 2em;
        font-size: .7em;
        
    }
    .title-form {
        font-size: 1em;
        padding: .3em;
    }
    .fullForm-box input {
        font-size: .6em;
    }   
    .fullForm-box label {
        font-size: .7em;
    }
}