.managementMenu-button {
    display: flex;
    height: 100%;
}

.managementMenu-box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.managementMenu-box h2 {
    filter: var(--drop-shadow);
}

/* Diseño responsive */
@media screen and (max-width: 1000px) {
    .managementMenu-button {
        flex-direction: column;
    }
}