.skillsData-container {
    margin: 1em;
}

.skillsData-container h2 {
    filter: var(--drop-shadow);
}

.skillsData-form {
    display: flex;
    justify-content: center;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1em;
    overflow-y: auto;
    min-height: 40vh;
    max-height: 40vh;
    box-shadow: var(--box-shadow);
}

.skillsData-form-column {
    display: flex;
    flex-direction: column;
    padding: 0 3em;
    width: 40%;
    text-align: left;
}

.skillsData-form-column caption {
    border-bottom: 1px solid;
}

.skillsData-form input {
    padding: .5em;
    border-radius: .5em;
}

.skillsData-form select {
    padding: .5em;
    border-radius: .5em;
}

.skillsData-form label {
    font-size: 1.2em;
}