.skillsData-container {
    margin: 1em;
}

.skillsData-container h2 {
    filter: var(--drop-shadow);
}

.skillsData-form {
    display: flex;
    justify-content: center;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1em;
    overflow-y: auto;
    min-height: 40vh;
    max-height: 40vh;
    box-shadow: var(--box-shadow);
}

.skillsData-form-column {
    display: flex;
    flex-direction: column;
    padding: 0 3em;
    width: 40%;
    text-align: left;
}

.skillsData-form-column caption {
    border-bottom: 1px solid;
}

.skillsData-form input {
    padding: .5em;
    border-radius: .5em;
}

.skillsData-form select {
    padding: .5em;
    border-radius: .5em;
}

.skillsData-form label {
    font-size: 1.2em;
}

/* Diseño responsive */
@media screen and (max-width: 767px) {
    .skillsData-container h2 {
        font-size: 1.4em;
    }
    .skillsData-form {
        flex-direction: column;
        align-items: center;
        overflow-y: hidden;
        min-height: none;
        max-height: none;
        padding: .5em 1em;
    }
    .skillsData-form input {
        font-size: .6em;
    }
    
    .skillsData-form select {
        font-size: .6em;
    }
    
    .skillsData-form label {
        font-size: .8em;
    }
    .skillsData-container button {
        font-size: .8em;
        width: 30%;
    }
    .skillsData-form button {
        font-size: .8em;
        width: 100%;
    }
    .skillsData-form-column {
        width: 80%;
        padding: 0;
    }
    .skillsData-form-column th, .skillsData-form-column td {
        font-size: .8em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para pantallas medianas (tabletas) */
}
