.itemsList-container h2 {    
    font-size: 1.3em;
    margin: 0;
    filter: var(--drop-shadow);
}

.itemList-container {
    margin: 0 1em;
}

.itemList-box {
    border-radius: 1em;
    margin-bottom: 1em;
    overflow-y: auto;
    max-height: 40vh;
    box-shadow: var(--box-shadow);
}

.itemsList-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid;
}

.itemsList-row {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width: 40%;
}

.itemsList-row div{
    display: flex;
    align-items: center;
}

.itemsList-career-item p {
    margin: .5em;
}

.itemsList-career-title {
    font-size: 1.2em;
    padding-right: 1em;
    text-decoration: underline;
}

.itemsList-career-name {
    font-style: italic;
}

.itemsList-skill-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemsList-skill-title {
    font-size: 1.2em;
    padding-right: 3em;
    text-decoration: underline;
}

.itemsList-skill-name {
    font-style: italic;
}

/* Diseño responsive */
@media screen and (max-width: 767px) {
    .itemsList-item {
        flex-direction: column;
        padding: 1em;
        border-bottom: 1px solid;
    }
    .itemsList-skill-item {
        width: 100%;
        padding-bottom: 1em;
    }
    .itemList-skill-button {
        border: 1px solid;
        border-radius: 5px;
    }
    .itemsList-skill-item p{
        margin: 0;
        font-size: .9em;
    }
    .itemsList-row {
        width: 100%;
    }
    .itemsList-row div {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .itemsList-career-title {
        font-size: .8em;
    }
    
    .itemsList-career-name {
        font-size: .6em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para pantallas medianas (tabletas) */
}
