.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 12vh;
    background-color: var(--secondary-color);
}

.logo-container {
    display: flex;
    justify-content: flex-start;
}

.img-header {
    height: 8vh;
    padding: 1em;
    filter: drop-shadow( 5px 5px 5px rgba(0, 0, 0, 0.15));
}

.header-container h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    color: var(--dark-mode);
    font-weight: bold;
    font-size: 2em;
    white-space: nowrap;
    filter: drop-shadow( 5px 5px 5px rgba(0, 0, 0, 0.25));
}

.header-logo {
    display: flex;
    text-decoration: none;
}