.basicInput-container {
  padding: 0;
  position: relative;
}

.basicInput-container label {
  font-size: 1.3em;
}

.inputComponent {
  font-size: 1em;
}

.container-span {
  position: absolute;
  background-color: rgba(57, 72, 103, .6);
  border-radius: 10px;
  width: 45%;
  z-index: 1;
  padding: .2em;
}

.span-input {
  display: inline-block;
  color: #fff;
  font-size: .85em;
  width: 100%;
}

.input-icon {
  color: #fff;
}