.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    height: 10vh;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    text-align: center;
    font-size: 1.2em;
}

.cqtZJB{
    position: relative !important;
    bottom: unset !important;
    right: unset !important; 
    width: 45px !important;
    height: 45px  !important;
}

.eMlmxH{
    background-color: var(--secondary-color) !important;
}

.chat{
   width: 3.5em;
}

.link {
    text-decoration: none;
    color: var(--primary-color) ;
}

/* Diseño responsive */
@media screen and (max-width: 1000px) {
    .footer-container {
        padding: 0 1em;
        height: 10vh;
        font-size: .9em;
    }
    .cqtZJB{
        position: relative !important;
        bottom: unset !important;
        right: unset !important; 
        width: 35px !important;
        height: 35px  !important;
    }
    
}
