.userPage-container {
    display: flex;
    justify-content: space-between;
    padding: 2em 1em 2em;
    height: 68vh;
}

/* Diseño responsive */
@media screen and (max-width: 1000px) {
    .userPage-container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 1em;
        height: 100%;
    }
}

