:root {
  --primary-color: #394867;
  --secondary-color: #9BA4B5;

  --light-mode: #F1F6F9;
  --dark-mode: #212A3E;
}

/* Estilos dark y light mode*/

.light {
  background-color: var(--light-mode) ;
  color: var(--dark-mode);
}

.dark {
  background-color: rgba(33, 42, 62, .6) ;
  /* background-color: var(--dark-mode); */
  color: var(--light-mode);
}

/* Estilos boton */

.button {
  padding: .5em;
  margin: .5em;
  font-size: 1em;
  font-weight: bold;
  color:  var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: .5em;
  border: 1px solid var(--primary-color);
  white-space: nowrap;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25); 
}

.button:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  transform: scale(1.05);
  transform-origin: center;
  transition: .3s;
  cursor: pointer;
}


.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--light-mode);
}

.page-content-container {
  height: 78vh;
}
