.faqContainer-container{
    display: flex;
    height: 80%;
    width:80%;
    flex-direction: column;
    padding: 1em 1em;
   
}

.faqContainer-container p{

}

.faqContainer-bttn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 2em;
}