.companyJobOffer-container{
    height: 80%;
}


.companyJobOffer-button {
    display: flex;
    height: 100%;
}

.companyJobOffer-box {
    height: 100%;
    text-align: center;
}

.companyJobOffer-box h2 {
    filter: var(--drop-shadow);
}

.companyJobOffer-goBackbutton{
    display: flex;
    justify-content: center;
}

/* Diseño responsive */
@media screen and (max-width: 1000px) {
    .companyJobOffer-container {
        height: 100%;
    }
    .companyJobOffer-box {
        padding-bottom: .5em;
    }
    .companyJobOffer-box h2 {
        height: auto;
        margin: .5em;
    }
    .companyJobOffer-button {
        flex-direction: column;
        height: auto;
    }
}