.authSection-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em;
    width: 100%;
}

.authSection-logged-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em;
    width: 20%;
}