.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 60%;
    color: var(--dark-mode);
    margin: 2em;
    padding: 2em;
    border: 1px solid var(--secondary-color);
    border-radius: 1em;
    box-shadow: var(--box-shadow);
    background-color: var(--secondary-color);
    text-decoration: none;
}

.card-box:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    transform: scale(1.05);
    transform-origin: center;
    transition: .3s;
    cursor: pointer;
}

.card-icon {
    font-size: 7em;
    padding: 0;
    filter: var(--drop-shadow);
}

.card-box h2 {
    font-size: 2em;
    filter: var(--drop-shadow);
}