.userMenu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em 1em;
    background-color: var(--secondary-color);
    width: 15%;
    border-radius: 1em;
    box-shadow: var(--box-shadow);
}

.userMenu-options {
    display: flex;
    flex-direction: column;
}

.userMenu-options p {
    margin: 0;
    font-size: 1.1em;
    border-bottom: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.userMenu-options p:nth-of-type(2)   {
    padding-top: 1em;
}

.userMenu-container a {
    text-decoration: none;
    font-size: 1.3em;
    color: var(--primary-color);
}

.userMenu-container a:hover {
    transform: scale(1.01);
    transform-origin: center;
    transition: .1s;
    color: #000;
}